<div id='wrap'>
  <div id='external-events'>
    <div class="card">
      <div class="card-header">
        <h4 class="task-head">My Tasks</h4>
        <% if user_signed_in? %><%= link_to 'New Tasks', new_task_path, class: "btn btn-outline-success", id: "new-task"%><%end%>
      </div>
      <div class="card-body" id="task-box">
        <div id="scroll-bar">
          <blockquote class="blockquote mb-0">
            <%= render :partial => 'task', :collection => @tasks %>
          </blockquote>
        </div>
      </div>
    </div>
  </div>

  <div id='calendar'></div>
</div>
