/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require fullcalendar
 */

@import "bootstrap";

body {
  text-align: center;
  font-size: 14px;
  font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
}

#wrap {
  max-width: 1200px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#external-events {
  width: 35%;
  float: left;
  text-align: left;
  max-height: 580px;
}

#external-events .fc-event {
  min-width: 100px;
  margin: 10px 0;
  cursor: pointer;
  display: inline-block;
  color: white;

  &:hover {
    color: black;
  }
}

#external-events p {
  margin: 1.5em 0;
  font-size: 11px;
  color: #666;
}

#external-events p input {
  margin: 0;
  vertical-align: middle;
}

.external-head {
  border-bottom: 1px;
  border-color: #ccc;
}

.button-right {
  text-align: right;
  margin-top: -43px;
  a {
    color: #fff;
  }
}

#task-info {
  margin-bottom: 10px;
}

.task-head {
  display: inline-block;
  margin: 0.3rem 0 0;
}

.task-box {
  height: auto;
}

#new-task {
  float: right;
}

#calendar {
  width: 60%;
  float: right;
}

#scroll-bar {
  overflow: auto;
  max-height: 500px;
  margin: 5px 0 5px;
}

.pull-right a {
  color: #fff;
}

footer {
  background-color: #212529;
  height: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
}